<section class="actions">
    <button class="action" data-id="0">Создать папку</button>
    <button class="action" data-id="1">Удалить папку</button>
    <button class="action" data-id="2">Загрузить файл</button>
    <button class="action" data-id="3">Скачать файл</button>
    <button class="action" data-id="4">Удалить файл</button>
    <button class="action" data-id="5">Переименовать</button>
</section>

<dialog id="myModal">
    <div class="modal-header">
        <button onclick="closeModal()">&#10005;</button>
    </div>
    <div id="modalContainer"></div>
</dialog>
