.explorer {
    display: grid;
    grid-template-columns: minmax(25%, 35%) auto 1fr;
}

    .explorer .tree {
        padding: 0 1.5em;
        overflow-y: auto;
    }

    .explorer .divider {
        width: 5px;
        height: 98%;
        align-self: center;
        background-color: var(--gray-l);
    }
